.geospatial-calulator-container{
    display: flex;
    padding: 2rem 2rem;
    height: 90vh;
    width: 80vw;
    background-color: rgb(241, 241, 241);
    .geospatial-calculator-inner{
        height: 100%;
        background-color: aqua;
        width: 100%;
        display: flex;
        // justify-content: ;
        // align-items: flex-start;
        .geospatial-calculator-map{
            width: 50%;
            background-color: bisque;
        }
        .geospatial-calculator-form{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: rgb(80, 29, 161);
            width: 50%;
            padding: 0rem 1rem;
            h5{
                
            }
        }
    }
}