.CardBox{
    height: 90%;
    border-radius: 1rem;
    width: 23%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // border: 1px rgb(125, 177, 175) solid;
    background-image: url("../../../../../assets/images/card-bg.png");
    background-size: 1000%;
    background-clip: initial;
    background-position: center;
    box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.3);
    .content{
        display: flex;
        margin-top: 5%;
        margin-left: 7%;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        line-height: 2rem;
        h2{
            font-size: 1.1rem;
        }
        h3{
            padding-left: 3px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .CardBox{
        height: 100%;
        width: 100%;
        padding: 0.1rem 0rem 2rem;
        display: flex;
        justify-content: flex-start;
        .content{
            display: flex;
            // margin-top: 2%;
            // margin-left: 2%;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            line-height: 2.5rem;
            h2{
                display: flex;
                justify-content: start;
                align-items: flex-start;
                padding-left: 3px;
                font-size: 1.5rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
    } 
}