.table-container {
    border-radius: 10px;
    background-color: #fff;
    overflow: auto;
    max-height: 70%;

    // display: flex;
    // flex-direction: column;
    table {
        // background-color: aqua;
        border: none;
        width: 100%;
        border-radius: 5px;

        thead {
            padding: 1rem;

            th {
                min-width: 12rem;
                background-color: green;
                color: #fff;
                text-align: center;
                font-weight: 500;
                font-size: 1.2rem;
                padding: 0.7rem 2rem;
            }
        }

        tbody {

            tr {
                td {
                    text-align: center;
                    padding: 0.8rem;
                    button {
                        background-color: green;
                        padding: 0.8rem 1.3rem;
                        color: #FBFBFB;
                        border: none;
                        border-radius: 0.2rem;
                    }
                }

                &:nth-child(odd) {
                    background-color: #FBFBFB;
                }

                &:nth-child(even) {
                    background-color: #fff;
                    ;
                }

            }
        }
    }
}

.table-footer {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;

    select {
        font-size: 0.9rem;
        outline: none;
        border: none;
        background-color: transparent;
        margin: 0rem 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .table-container {
        width: 100%;

        table {
            thead {
                th {
                    min-width: 3rem;
                    font-size: 1rem;
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}